{% extends 'base.html.twig' %}

{% block title %}Sistem Kepuasan Masyarakat{% endblock %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <style>
        .jumbotron{
            background-color: #F2DEDE !important;
            border: 1px solid #FCAEAE;
            box-sizing: border-box;
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
            border-radius: 12px;
            color: #A94442;
        }
        .container{
            margin-top: 50px;
        }
    </style>
</head>

<div class="container">
    <h1 style="text-align: center">Sistem Informasi Survei Kepuasan Masyarakat Pemerintahan Kabupaten Tobasa</h1>
    <div class="jumbotron text-left">
        <h3>Perhatian</h3>
        <ul>
            <li>Survei ini bertujuan untuk mengetahui gambaran secara objektif mengenai kepuasan masyarakat terhadap unit penyelenggara pelayanan publik pada pemerintah Kabupaten Tobasa. Hasil survei ini sangat bermanfaat bagi Pemerintah dalam rangka meningkatkan kualitas pelayanan publik Pemerintahan Kabupaten Tobasa.</li>
            <li>Survei ini tidak ada hubungannya dengan pajak atau politik. </li>
            <li>Pilih salah satu huruf sesuai jawaban Saudara.</li>
        </ul>
    </div>
</div>

{% endblock %}
