{% extends 'base.html.twig' %}

{% block title %}New Layanan{% endblock %}

{% block body %}
    <h1>Create new Layanan</h1>

    {{ include('layanan/_form.html.twig') }}

    <a href="{{ path('layanan_index') }}">back to list</a>
{% endblock %}
